
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.min-h-screen {
  min-height: 100vh;
}

.w-96 {
  width: 20rem; 
}

.bg-white {
  background-color: #ffffff;
}

.p-8 {
  padding: 1.25rem;
}

.shadow-lg {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

.rounded-lg {
  border-radius: 0.5rem;
}


.text-red-600 {
  color: #2f26dc;
}

.text-3xl {
  font-size: 1.5rem; 
  font-weight: 600;
}

.mb-8 {
  margin-bottom: 1.25rem;
}

.text-center {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-xs {
  font-size: 0.7rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

mat-form-field {
  width: 100%;
}

mat-form-field input {
  font-size: 0.85rem;
  color: #111 !important;
}

mat-label {
  color: #555;
  font-weight: 500;
}

.mt-4 {
  margin-top: 0.1rem;
}

.w-full {
  width: 100%;
}
