<div class="form-container">
    <h2>Register New Product</h2>
    <form (ngSubmit)="addProduct()" #registerProductForm="ngForm" class="form">
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Product Name</mat-label>
        <input matInput type="text" id="productName" name="productName"
          [(ngModel)]="product.productName" required #productName="ngModel"/>
        <mat-error *ngIf="productName?.invalid && productName?.touched">Product Name is required.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Price</mat-label>
        <input matInput type="text" id="price" name="price"
          [(ngModel)]="product.price" required #price="ngModel"/>
        <mat-error *ngIf="price?.invalid && price?.touched">Price is required.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Category</mat-label>
        <input matInput type="text" id="category" name="category"
          [(ngModel)]="product.category" required #category="ngModel"/>
        <mat-error *ngIf="category?.invalid && category?.touched">Category is required.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Description</mat-label>
        <input matInput type="text" id="description" name="description"
          [(ngModel)]="product.description" required #description="ngModel"/>
        <mat-error *ngIf="description?.invalid && description?.touched">Description is required.</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit"
        [disabled]="registerProductForm.invalid">
        Submit
      </button>
    </form>
  </div>
  